PANDAS DATA Frames

In [11]:
import pandas as pd

Creating 2 Data-frames

data frames are similar to the dictionaries in PYTHON thye take Key-value Pairs

In [12]:
DF1 = pd.DataFrame({"A": [1, 2, 3, 4], "B": [10, 20, 30, 40]})
print(DF1)
DF2 = pd.DataFrame({"A": [1, 2, 3, 5], "C": [100, 200, 300, 400]})
print(DF2)

   A   B
0  1  10
1  2  20
2  3  30
3  4  40
   A    C
0  1  100
1  2  200
2  3  300
3  5  400

#JOINS

Inner Join

Gives the common data in both the datasets based on the common column

In [13]:
# INNER JOIN
pd.merge(
    DF1, DF2, on="A", how="inner"
)  # gives the common data in both the datasets based on the column A

   A   B    C
0  1  10  100
1  2  20  200
2  3  30  300

LEFT join

Gives all the data from left table and the matching data rows from the right table

In [14]:
pd.merge(
    DF1, DF2, on="A", how="left"
)  # gives the data of DF1 and the common data in DF2 based on the column A

   A   B      C
0  1  10  100.0
1  2  20  200.0
2  3  30  300.0
3  4  40    NaN

RIGHT Join

Gives all the data from right table and the matching data rows from the left table

In [15]:
pd.merge(DF1, DF2, on="A", how="right")

   A     B    C
0  1  10.0  100
1  2  20.0  200
2  3  30.0  300
3  5   NaN  400

FULL Join

Gives the Data of both A and B columns in both the datasets

In [16]:
# full join

pd.merge(
    DF1, DF2, on="A", how="outer"
)  # gives the data of both A and B columns in both the datasets

   A     B      C
0  1  10.0  100.0
1  2  20.0  200.0
2  3  30.0  300.0
3  4  40.0    NaN
4  5   NaN  400.0

In [17]:
print(DF1)
print("---------------")
print(DF2)

   A   B
0  1  10
1  2  20
2  3  30
3  4  40
---------------
   A    C
0  1  100
1  2  200
2  3  300
3  5  400

CONCAT

Concat
joins data of both the sides row wise or column wise

1.Axis = 0

concatenates the data of both the datasets row wise

In [18]:
pd.concat([DF1, DF2], axis=0)  # concatenates the data of both the datasets row wise

   A     B      C
0  1  10.0    NaN
1  2  20.0    NaN
2  3  30.0    NaN
3  4  40.0    NaN
0  1   NaN  100.0
1  2   NaN  200.0
2  3   NaN  300.0
3  5   NaN  400.0

2.Axis = 

Concatenates the data of both the datasets column wise

In [19]:
pd.concat([DF1, DF2], axis=1)  # concatenates the data of both the datasets column wise

   A   B  A    C
0  1  10  1  100
1  2  20  2  200
2  3  30  3  300
3  4  40  5  400